
 body {
  background-color: WhiteSmoke;
  color: Crimson;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
 }
  a {
   color: Black
}
  #sma {
   color: Black
   font-size: 150%
}
 
